# /usr/lib/systemd/system/siduction_btrfs.service
[Unit]
Description=TUXEDO BTRFS Service
Description=Update GRUB menu title.
Documentation=https://github.com/siduction/siduction-btrfs
ConditionPathExists=/boot/grub/grub.cfg
ConditionPathExists=/usr/share/siduction-btrfs/btrfs

[Service]
Type=oneshot
ExecStart=/usr/share/siduction-btrfs/grub-menu-title.sh
