# /usr/lib/systemd/system/tuxedo_btrfs.service
[Unit]
Description=TUXEDO BTRFS Service
Description=Update GRUB menu title.
Documentation=https://github.com/tuxedo/tuxedo-btrfs
ConditionPathExists=/boot/grub/grub.cfg
ConditionPathExists=/usr/share/tuxedo-btrfs/btrfs

[Service]
Type=oneshot
ExecStart=/usr/share/tuxedo-btrfs/grub-menu-title.sh
