# /usr/lib/systemd/system/siduction-btrfs.service
[Unit]
Description=Part of siduction-btrfs
Description=Execute 'update-grub' if btrfs-default-subvolume changed.
Documentation=https://github.com/siduction/siduction-btrfs

[Service]
Type=oneshot
ExecStart=/usr/share/siduction/test-btrfs-default.sh
