Package: siduction-btrfs
Version: 0.1.0-2
Architecture: all
Maintainer: Axel Konrad <emma-konrad@web.de>
Installed-Size: 36
Depends: btrfs-progs, grub-btrfs, grub-common, snapper
Section: utils
Priority: optional
Homepage: https://github.com/siduction/grub-btrfs-rollback_settings
Description: Optimizes grub menu after snapper rollback
 After a rollback using snapper or manually changing the btrfs default
 subvolume, siduction-btrfs optimizes the default boot entry in the grub menu.
 This is an empty package. No binary included.
 .
 The default boot entry points to the new default subvolume with the kernels
 present.
